
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}


.box{
     color:  #fff;
       height: 100vh;
        background-color: #1b1b1b;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.image{
    display: flex;
        flex-direction: row;
        justify-content: center;
}

img{
    margin-top: 10px;
    height: 300px;
    padding: 5px;

}

h1{
  
    font-family: Bree Serif;
}

.content1{
   font-family: Bree Serif;
}
.content{

    font-family: Roboto;
    padding: 30px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;

    
}

.button1{
   
    background-color: rgb(238, 255, 0);
    height: 30px;
    width: 70px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-top: 10px;
    
}

.button2{
    font-size: 15px;
    background-color: rgb(78, 152, 255);
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
}